<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ilozada.omega</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/ilozada/repos/omega/target/release/omega</string>
        <string>-c</string>
        <string>/Users/ilozada/repos/omega/config.toml</string>
        <string>start</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/ilozada/repos/omega</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/ilozada/.omega/omega.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/ilozada/.omega/omega.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Users/ilozada</string>
        <key>PATH</key>
        <string>/Users/ilozada/.local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
